* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nesto {
  color: red;
}

/* .nesto h1 {
  color: blue;
} */

.name {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: greenyellow;
}

.nesto h1 {
  color: blue;
}
